{% extends "base.html" %}
{% block content %}

<div class="card shadow">
  <div class="card-body">
    <h3 class="mb-4">Welcome {{ student.name }}</h3>

    <div class="row">
      <div class="col-md-4">
        <div class="card bg-info text-white mb-3">
          <div class="card-body">
            <h6>Email</h6>
            <p>{{ student.email }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-success text-white mb-3">
          <div class="card-body">
            <h6>Department</h6>
            <p>{{ student.department }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-warning text-dark mb-3">
          <div class="card-body">
            <h6>Enrollment</h6>
            <p>{{ student.enrollment }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
