body{
    font-family: Arial;
    background:#eef2f7;
}

.container{
    width:800px;
    margin:auto;
    margin-top:40px;
}

h1{text-align:center;}

.card{
    background:white;
    padding:15px;
    border-radius:8px;
    margin-bottom:20px;
}

input{
    padding:8px;
    margin:5px;
}

button{
    padding:8px 15px;
    background:#007bff;
    color:white;
    border:none;
}

table{
    width:100%;
    background:white;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

.inline{display:inline;}
.delete{color:red; font-weight:bold;}
